{%extends "feed_base.html"%}

{%block main%}
<div class='post_box'>
	<br><br>
	{{post0}}
	<br><br>
	postedby : {{postby0}}
	<br>
	postID : {{postID0}}
</div><div class='post_box'>
	<br><br>
	{{post1}}
	<br><br>
	postedby : {{postby1}}
	<br>
	postID : {{postID1}}
</div><div class='post_box'>
	<br><br>
	{{post2}}
	<br><br>
	postedby : {{postby2}}
	<br>
	postID : {{postID2}}
</div><div class='post_box'>
	<br><br>
	{{post3}}
	<br><br>
	postedby : {{postby3}}
	<br>
	postID : {{postID3}}
</div><div class='post_box'>
	<br><br>
	{{post4}}
	<br><br>
	postedby : {{postby4}}
	<br>
	postID : {{postID4}}
</div><div class='post_box'>
	<br><br>
	{{post5}}
	<br><br>
	postedby : {{postby5}}
	<br>
	postID : {{postID5}}
</div><div class='post_box'>
	<br><br>
	{{post6}}
	<br><br>
	postedby : {{postby6}}
	<br>
	postID : {{postID6}}
</div><div class='post_box'>
	<br><br>
	{{post7}}
	<br><br>
	postedby : {{postby7}}
	<br>
	postID : {{postID7}}
</div><div class='post_box'>
	<br><br>
	{{post8}}
	<br><br>
	postedby : {{postby8}}
	<br>
	postID : {{postID8}}
</div><div class='post_box'>
	<br><br>
	{{post9}}
	<br><br>
	postedby : {{postby9}}
	<br>
	postID : {{postID9}}
</div><div class='post_box'>
	<br><br>
	{{post10}}
	<br><br>
	postedby : {{postby10}}
	<br>
	postID : {{postID10}}
</div><div class='post_box'>
	<br><br>
	{{post11}}
	<br><br>
	postedby : {{postby11}}
	<br>
	postID : {{postID11}}
</div><div class='post_box'>
	<br><br>
	{{post12}}
	<br><br>
	postedby : {{postby12}}
	<br>
	postID : {{postID12}}
</div><div class='post_box'>
	<br><br>
	{{post13}}
	<br><br>
	postedby : {{postby13}}
	<br>
	postID : {{postID13}}
</div><div class='post_box'>
	<br><br>
	{{post14}}
	<br><br>
	postedby : {{postby14}}
	<br>
	postID : {{postID14}}
</div><div class='post_box'>
	<br><br>
	{{post15}}
	<br><br>
	postedby : {{postby15}}
	<br>
	postID : {{postID15}}
</div><div class='post_box'>
	<br><br>
	{{post16}}
	<br><br>
	postedby : {{postby16}}
	<br>
	postID : {{postID16}}
</div><div class='post_box'>
	<br><br>
	{{post17}}
	<br><br>
	postedby : {{postby17}}
	<br>
	postID : {{postID17}}
</div><div class='post_box'>
	<br><br>
	{{post18}}
	<br><br>
	postedby : {{postby18}}
	<br>
	postID : {{postID18}}
</div><div class='post_box'>
	<br><br>
	{{post19}}
	<br><br>
	postedby : {{postby19}}
	<br>
	postID : {{postID19}}
</div><div class='post_box'>
	<br><br>
	{{post20}}
	<br><br>
	postedby : {{postby20}}
	<br>
	postID : {{postID20}}
</div><div class='post_box'>
	<br><br>
	{{post21}}
	<br><br>
	postedby : {{postby21}}
	<br>
	postID : {{postID21}}
</div><div class='post_box'>
	<br><br>
	{{post22}}
	<br><br>
	postedby : {{postby22}}
	<br>
	postID : {{postID22}}
</div><div class='post_box'>
	<br><br>
	{{post23}}
	<br><br>
	postedby : {{postby23}}
	<br>
	postID : {{postID23}}
</div><div class='post_box'>
	<br><br>
	{{post24}}
	<br><br>
	postedby : {{postby24}}
	<br>
	postID : {{postID24}}
</div><div class='post_box'>
	<br><br>
	{{post25}}
	<br><br>
	postedby : {{postby25}}
	<br>
	postID : {{postID25}}
</div><div class='post_box'>
	<br><br>
	{{post26}}
	<br><br>
	postedby : {{postby26}}
	<br>
	postID : {{postID26}}
</div><div class='post_box'>
	<br><br>
	{{post27}}
	<br><br>
	postedby : {{postby27}}
	<br>
	postID : {{postID27}}
</div><div class='post_box'>
	<br><br>
	{{post28}}
	<br><br>
	postedby : {{postby28}}
	<br>
	postID : {{postID28}}
</div><div class='post_box'>
	<br><br>
	{{post29}}
	<br><br>
	postedby : {{postby29}}
	<br>
	postID : {{postID29}}
</div><div class='post_box'>
	<br><br>
	{{post30}}
	<br><br>
	postedby : {{postby30}}
	<br>
	postID : {{postID30}}
</div>
{%endblock%}