{%extends "followers_list_base.html"%}

{%block main%}
<div class="following_list">
    <br>
    {{following0}}<br><br>
	{{following1}}<br><br>
	{{following2}}<br><br>
	{{following3}}<br><br>
	{{following4}}<br><br>
	{{following5}}<br><br>
	{{following6}}<br><br>
	{{following7}}<br><br>
	{{following8}}<br><br>
	{{following9}}<br><br>
	{{following10}}<br><br>
	{{following11}}<br><br>
	{{following12}}<br><br>
	{{following13}}<br><br>
	{{following14}}<br><br>
	{{following15}}<br><br>
	{{following16}}<br><br>
	{{following17}}<br><br>
	{{following18}}<br><br>
	{{following19}}<br><br>
	{{following20}}<br><br>
	{{following21}}<br><br>
	{{following22}}<br><br>
	{{following23}}<br><br>
	{{following24}}<br><br>
	{{following25}}<br><br>
	{{following26}}<br><br>
	{{following27}}<br><br>
	{{following28}}<br><br>
	{{following29}}<br><br>
	{{following30}}<br><br>
	{{following31}}<br><br>
	{{following32}}<br><br>
	{{following33}}<br><br>
	{{following34}}<br><br>
	{{following35}}<br><br>
	{{following36}}<br><br>
	{{following37}}<br><br>
	{{following38}}<br><br>
	{{following39}}<br><br>
	{{following40}}<br><br>
	{{following41}}<br><br>
	{{following42}}<br><br>
	{{following43}}<br><br>
	{{following44}}<br><br>
	{{following45}}<br><br>
	{{following46}}<br><br>
	{{following47}}<br><br>
	{{following48}}<br><br>
	{{following49}}<br><br>
	{{following50}}<br><br>
	{{following51}}<br><br>
	{{following52}}<br><br>
	{{following53}}<br><br>
	{{following54}}<br><br>
	{{following55}}<br><br>
	{{following56}}<br><br>
	{{following57}}<br><br>
	{{following58}}<br><br>
	{{following59}}<br><br>
	{{following60}}<br><br>
	{{following61}}<br><br>
	{{following62}}<br><br>
	{{following63}}<br><br>
	{{following64}}<br><br>
	{{following65}}<br><br>
	{{following66}}<br><br>
	{{following67}}<br><br>
	{{following68}}<br><br>
	{{following69}}<br><br>
	{{following70}}<br><br>
	{{following71}}<br><br>
	{{following72}}<br><br>
	{{following73}}<br><br>
	{{following74}}<br><br>
	{{following75}}<br><br>
	{{following76}}<br><br>
	{{following77}}<br><br>
	{{following78}}<br><br>
	{{following79}}<br><br>
	{{following80}}<br><br>
	{{following81}}<br><br>
	{{following82}}<br><br>
	{{following83}}<br><br>
	{{following84}}<br><br>
	{{following85}}<br><br>
	{{following86}}<br><br>
	{{following87}}<br><br>
	{{following88}}<br><br>
	{{following89}}<br><br>
	{{following90}}<br><br>
	{{following91}}<br><br>
	{{following92}}<br><br>
	{{following93}}<br><br>
	{{following94}}<br><br>
	{{following95}}<br><br>
	{{following96}}<br><br>
	{{following97}}<br><br>
	{{following98}}<br><br>
	{{following99}}<br><br>
	{{following100}}<br><br>
</div>
<div class="followers_list">
    <br>
    {{follower0}}<br><br>
	{{follower1}}<br><br>
	{{follower2}}<br><br>
	{{follower3}}<br><br>
	{{follower4}}<br><br>
	{{follower5}}<br><br>
	{{follower6}}<br><br>
	{{follower7}}<br><br>
	{{follower8}}<br><br>
	{{follower9}}<br><br>
	{{follower10}}<br><br>
	{{follower11}}<br><br>
	{{follower12}}<br><br>
	{{follower13}}<br><br>
	{{follower14}}<br><br>
	{{follower15}}<br><br>
	{{follower16}}<br><br>
	{{follower17}}<br><br>
	{{follower18}}<br><br>
	{{follower19}}<br><br>
	{{follower20}}<br><br>
	{{follower21}}<br><br>
	{{follower22}}<br><br>
	{{follower23}}<br><br>
	{{follower24}}<br><br>
	{{follower25}}<br><br>
	{{follower26}}<br><br>
	{{follower27}}<br><br>
	{{follower28}}<br><br>
	{{follower29}}<br><br>
	{{follower30}}<br><br>
	{{follower31}}<br><br>
	{{follower32}}<br><br>
	{{follower33}}<br><br>
	{{follower34}}<br><br>
	{{follower35}}<br><br>
	{{follower36}}<br><br>
	{{follower37}}<br><br>
	{{follower38}}<br><br>
	{{follower39}}<br><br>
	{{follower40}}<br><br>
	{{follower41}}<br><br>
	{{follower42}}<br><br>
	{{follower43}}<br><br>
	{{follower44}}<br><br>
	{{follower45}}<br><br>
	{{follower46}}<br><br>
	{{follower47}}<br><br>
	{{follower48}}<br><br>
	{{follower49}}<br><br>
	{{follower50}}<br><br>
	{{follower51}}<br><br>
	{{follower52}}<br><br>
	{{follower53}}<br><br>
	{{follower54}}<br><br>
	{{follower55}}<br><br>
	{{follower56}}<br><br>
	{{follower57}}<br><br>
	{{follower58}}<br><br>
	{{follower59}}<br><br>
	{{follower60}}<br><br>
	{{follower61}}<br><br>
	{{follower62}}<br><br>
	{{follower63}}<br><br>
	{{follower64}}<br><br>
	{{follower65}}<br><br>
	{{follower66}}<br><br>
	{{follower67}}<br><br>
	{{follower68}}<br><br>
	{{follower69}}<br><br>
	{{follower70}}<br><br>
	{{follower71}}<br><br>
	{{follower72}}<br><br>
	{{follower73}}<br><br>
	{{follower74}}<br><br>
	{{follower75}}<br><br>
	{{follower76}}<br><br>
	{{follower77}}<br><br>
	{{follower78}}<br><br>
	{{follower79}}<br><br>
	{{follower80}}<br><br>
	{{follower81}}<br><br>
	{{follower82}}<br><br>
	{{follower83}}<br><br>
	{{follower84}}<br><br>
	{{follower85}}<br><br>
	{{follower86}}<br><br>
	{{follower87}}<br><br>
	{{follower88}}<br><br>
	{{follower89}}<br><br>
	{{follower90}}<br><br>
	{{follower91}}<br><br>
	{{follower92}}<br><br>
	{{follower93}}<br><br>
	{{follower94}}<br><br>
	{{follower95}}<br><br>
	{{follower96}}<br><br>
	{{follower97}}<br><br>
	{{follower98}}<br><br>
	{{follower99}}<br><br>
	{{follower100}}<br><br>
</div>
{%endblock%}